# Configuración de AWS S3
AWS_ACCESS_KEY_ID=tu_access_key_aqui
AWS_SECRET_ACCESS_KEY=tu_secret_key_aqui
AWS_REGION=us-east-2
BUCKET_NAME=archivacloud-p02

# Configuración del Backend
USE_MOCK_S3=false
