# Variables de entorno
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# SO
.DS_Store
Thumbs.db

# Ignorar instrucciones
instrucciones_setup.txt
